<table class="calls-table">
    <thead>
        <tr>
            <th style="width: 180px;">Call Time</th>
            <th style="width: 260px;">Phone Number</th>
            <th style="width: 340px;">Duration</th>
        </tr>
    </thead>
    <tbody>
        {{#if calls}}
            {{#each calls}}
                {{> call-row}}
            {{/each}}
        {{else}}
            <tr><td colspan="3" class="no-data">No call history found</td></tr>
        {{/if}}
    </tbody>
</table>
