<table class="calls-table">
    <thead>
        <tr>
            <th style="width: 160px;">Start Time</th>
            <th style="width: 160px;">End Time</th>
            <th style="width: 120px;">Duration</th>
            <th style="width: 200px;">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {{#if timeline}}
            {{#each timeline}}
                {{#if (eq type 'call')}}
                    {{> call-row}}
                {{else if (eq type 'orphaned_browser_group')}}
                    {{> orphaned-browser-group}}
                {{/if}}
            {{/each}}
        {{else}}
            <tr><td colspan="4" class="no-data">No call history found</td></tr>
        {{/if}}
    </tbody>
</table>
