<div class="container">
    {{> header}}
    
    {{> case-banner}}
    
    {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}
    
    {{> calls-table}}
</div>

<div id="call-context-banner" style="display: none;">
    <div class="call-context-content">
        <div class="call-context-label">Viewing browser entries for call:</div>
        <div class="call-context-details"></div>
    </div>
</div>

<script src="/app.js"></script>
